@model MSAWeb.Models.Restaurant

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Restaurant</h3>
</div>
@using (Ajax.BeginForm("Add", "Restaurant", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    <div class="modal-body">
        @Html.HiddenFor(x => x.Id)

        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

        @Html.LabelFor(x => x.CarOrWalk)
        <div class="radio">
            <label>
            @Html.RadioButtonFor(x => x.CarOrWalk, "C", new { @class = "radio" })
            By Car
            </label>
        </div>
        <div class="radio">
            <label>
            @Html.RadioButtonFor(x => x.CarOrWalk, "W", new { @class = "radio" })
            By Walking
            </label>
        </div>

        @Html.LabelFor(x => x.WeatherDependency)
        @Html.CheckBoxFor(x => x.WeatherDependency, new { @class = "checkbox" })
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
    </div>
}